@model List<SmartRetailMVC.Models.Product>
<h2>Products</h2>
<a href="/Product/Create">+ Add Product</a>
<table border="1" cellpadding="6" style="margin-top:10px">
  <tr><th>ID</th><th>Name</th><th>Price</th><th>Actions</th></tr>
  @foreach (var p in Model!)
  {
    <tr>
      <td>@p.Id</td>
      <td>@p.Name</td>
      <td>@p.Price</td>
      <td>
        <a href="/Product/Edit/@p.Id">Edit</a> |
        <a href="/Product/Delete/@p.Id" onclick="return confirm('Delete?')">Delete</a>
      </td>
    </tr>
  }
</table>